<ng-container *ngIf="city | async as currentCity">
  <div class="city">
    <img [src]="pathToImg"
         alt="city icon"
         class="city__icon">
    <div class="city-info">
      <div class="city-info__item">{{ currentCity.localizedName }}</div>
      <div class="city-info__item">{{ currentCity.country.localizedName }}</div>
    </div>
  </div>

  <ng-container *ngIf="weather | async as currentWeather; else loading">
    <div class="weather">
      <div class="weather__text">{{ currentWeather.temperature.getByType(TemperatureType.Celsius).value }}
        {{ currentWeather.weatherText }}
      </div>
      <div class="weather__item">{{ currentWeather.localObservationDateTime | date: 'EEEE, dd MMMM, h:mm a' }}
      </div>
    </div>
    <div class="actions">
      <button mat-icon-button
              (click)="toggleFavorite(currentCity)"
              color="warn">
        <mat-icon>{{ currentCity.isFavorite ? favoriteIcon : favoriteBorderIcon }}</mat-icon>
      </button>
    </div>
  </ng-container>
</ng-container>

<ng-template #loading>
  <app-spinner color="accent"></app-spinner>
</ng-template>
