<ng-container *ngIf="city | async as currentCity">
  <div class="city">
    <img [src]="pathToImg"
         alt="city icon"
         class="city__icon">
    <div class="city-info">
      <div class="city-info__item">{{ currentCity.localizedName }}</div>
      <div class="city-info__item">{{ currentCity.country.localizedName }}</div>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="weather | async as currentWeather">
  <div class="weather">
    <div class="weather__text">{{ currentWeather[0].temperature.getByType(TemperatureType.Celsius).value }}
      {{ currentWeather[0].weatherText }}
    </div>
    <div class="weather__item">{{ currentWeather[0].localObservationDateTime | date: 'EEEE, dd MMMM, h:mm a' }}
    </div>
  </div>
  <div class="actions">
    <button mat-icon-button
            color="warn">
      <!-- <mat-icon>favorite</mat-icon> -->
      <mat-icon>favorite_border</mat-icon>
    </button>
  </div>
</ng-container>
