<ng-container *ngIf="weather | async as currentWeather; else loading">
  <div class="city">{{ city.localizedName }}</div>
  <div class="date">{{ currentWeather.localObservationDateTime | date: 'EEEE, dd MMMM' }}</div>
  <div class="temperature"
       *ngIf="temperatureType | async as type">
    {{ currentWeather.temperature.getUnitByType(type).value }} {{ type }}&deg;
  </div>
  <div class="text">{{ currentWeather.weatherText }}</div>
</ng-container>

<ng-template #loading>
  <app-spinner></app-spinner>
</ng-template>
