@use '@angular/material' as mat-theme;

$gray-main: #5d7f92;
$gray-light: #e8f0f6;
$gray-dark: #23343e;

$red-main: #f95c3a;
$red-light: #ff8e66;
$red-dark: #bf260e;

$primary: (
  50: #e8f0f6,
  100: #cbd9e1,
  200: #adc0cb,
  300: #8da6b5,
  400: #7592a3,
  500: #5d7f92,
  600: #517081,
  700: #425c6a,
  800: #344955,
  900: #23343e,
  contrast: (
    100: $gray-dark,
    500: $gray-dark,
    700: $gray-light,
  ),
);

$accent: (
  50: #fffde8,
  100: #fff9c6,
  200: #fff5a0,
  300: #fff07b,
  400: #fdeb5d,
  500: #fbe642,
  600: #ffd942,
  700: #fcc13b,
  800: #f9aa33,
  900: #f48226,
  contrast: (
    100: $gray-dark,
    500: $gray-dark,
    700: $gray-light,
  ),
);

$warn: mat-theme.$red-palette;

$w-front-primary: $primary;
$w-front-accent: $accent;
$w-front-warn: $warn;

$w-font-primary: $gray-dark;
$w-font-secondary: $gray-light;
$w-font-warn: $red-main;
