@use 'variables' as *;

:host {
  display: flex;
  width: 100%;
  background-color: $light;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 16px 24px;
}

.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
  &__image {
    width: 36px;
  }
  &__text {
    margin-left: 12px;
    text-transform: uppercase;
  }
}

.nav {
  display: flex;
  align-items: center;

  &__item {
    & + & {
      margin-left: 36px;
    }

    &.active {
      color: lighten($dark, 10);
      background-color: darken($light, 4);
    }
  }
}
