<form class="search-form">
  <mat-form-field class="search-form__input">
    <mat-label>Enter city</mat-label>
    <input type="text"
           inputOnlyLetters
           matInput
           autocomplete="off"
           [formControl]="searchControl"
           [matAutocomplete]="city"
           placeholder="Kyiv">
    <mat-autocomplete #city="matAutocomplete"
                      (optionSelected)="selectOption($event)">
      <mat-option *ngFor="let city of cities | async"
                  [value]="city">
        {{ city }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
