:host {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.status {
  font-size: 120px;
  font-weight: 100;
  line-height: 2;
}

.status-text {
  font-size: 40px;
  font-weight: 700;
}
